* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header-bg{
  background-color: #A5C926;
  padding: 9px 0;
}

.header-center {
  width: 1200px;
  margin: 0 auto;
}

.header-contact{
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.header-left{
  color: #fff;
}

.header-left span{
  padding-right: 15px;
}

.header-left a{
  color: #fff;
  text-decoration: none;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list li{
  margin: 0 7px;
}


/* second header */
.header-snd-bg{
  background: #F8F8F8;
}

.header-snd-bg a{
  text-decoration: none;
  color: rgba(17, 17, 17, 1);
}

.header-snd{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.snd-right{
  display: flex;
  align-items: center;
}

.logo{
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: rgba(51, 51, 51, 1) ;
  margin: 0 41px 0 0;
}

.navigation a{
  margin: 0 18px;
}

.snd-left{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding-right: 9px;
}

.cyrcle{
  width: 20px;
  background-color: #A5C926;
  font-size: 12px;
  line-height: 18px;
  padding: 1px 3px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.cart{
  margin-right: 13px
}

.cart-icon{
  margin-right: 13px;
}

/* Main container */
.main-container{
  margin: 0 auto;
  background-color: #F8F8F8
}

.main{
  width: 1200px;
  margin: 0 auto;
}

/* First block */
.fst-block{
 background: url(../IMG/child.png) no-repeat;
 height: calc(100vh - 108px);
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.fst-content{
  width: 570px;
  padding: 55px 77px;
  background-color: #fff;
  text-align: center;
  border-radius: 16px;
}

.fst-content span{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(165, 201, 38, 1);
  
}

.fst-content h1{
  font-weight: 400;
  font-size: 39px;
  line-height: 48px;
  padding-top: 17px;
  padding-bottom: 20px;
}

.fst-content a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;

}

.fst-content button{
  background-color: #A5C926;
  border-radius: 24px;
  border: none;
  padding: 12px 28px;
}

.scroll{
  position: absolute;
  bottom: 0;
}

/* Second block */
.snd-block{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 152px;
  padding-bottom: 120px;
}

.snd-block h2{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}

.snd-block button{
  background-color: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 8px 24px;
}

.snd-block a{
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #111111;
  text-decoration: none;
}

.bear{
  width: 570px;
  background-color: #FFC12C;
  border-radius: 16px;
  position: relative;
}

.bear-text{
  padding: 48px 93px 48px 264px;
}

.pic-bear{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.flower{
  width: 570px;
  background-color: #FB416B;
  border-radius: 16px;
  position: relative;
}

.fl-text{
  padding: 48px 264px 48px 127px;
}

.fl-text h2, .bear-text h2{
  padding-bottom: 16px;
}

.pic-flower{
  position: absolute;
  bottom: 30px;
  right: 35px;
}

/* Third block */
.trd-block, .frt-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.trd-block h3, .frt-block h3{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.trd-block a, .frt-block a {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #111111;
}

.btn{
  border-bottom: 2px solid #DDDDDD;
}

.lines{
  position: relative;
}

.fst-line{
  border-top: 3px solid #E5E5E5;
}

.snd-line{
  width: 136px;
  border-top: 3px solid #A5C926;
  position: absolute;
  top: 0px;
}


/* toys */
.toys-pic{
  padding-top: 55px;
  padding-bottom: 135px;
  display: flex;
  justify-content: space-between;
  
}

.toys-pic span{
  background-color: #A5C926;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 16px;
  padding: 5px 12px;
}

.main-toy {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 33px 44px;
  position: relative;
}

.main-toy img{
  text-align: center;
  position: absolute;
  left: 26px;
  top: 15px;
}

.main-toy-two {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 33px 44px;
  position: relative;
}

.main-toy-two img{
  text-align: center;
  position: absolute;
  left: 49px;
  top: 33px;
}

.info{
  text-align: center;
  padding-top: 210px;
}

.info h4{
  padding-bottom: 12px;
}

.nametoy{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}


/* second content */
.snd-content{
  background: url(../IMG/snd-bg.jpg) no-repeat;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.text-content{
  color: #fff;
  text-align: center;
  padding: 120px 0px;
  width: 720px;
}

.text-content p{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 26px;
}

.text-content h2{
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  padding-top: 17px;
  padding-bottom: 18px;
}

.btn-play{
  width: 64px;
  height: 64px;
  background-color: #A5C926;
  position: relative;
  display: inline-block;
}

.btn-play img{
  position: absolute;
  top: 19px;
  left: 21px;
}

/* trd content */
.trd-content{
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
}

.center-text {
  text-align: center;
  width: 447px;
  margin: 0 auto;
}

.center-text span{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A5C926;
}

.center-text h2{
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  padding-top: 18px;
  padding-bottom: 95px;
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 121px;
}

.right-text span{
  font-size: 31px;
  line-height: 40px;
  
}

.green-line{
  width: 70px;
  border: 2px solid #A5C926;
  margin-top: 24px;
  margin-bottom: 25px;
}

.right-text p{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  width: 451px;
}

.right-text button{
  background: #A5C926;
  border-radius: 24px;
  border: none;
  margin-top: 25px;
}

.right-text a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12px 28px;
}

.border{
  margin: 0 auto;
  width: 1150px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  padding: 55px 48px;
  align-items: center;
  justify-content: space-between;
}

.right-bd{
  display: flex;

}

.btn-telegram{
  width: 63px;
  height: 63px;
  background-color: #A5C926;
  position: relative;
  margin-right: 23px;
}

.btn-telegram img{
  position: absolute;
  left: 17px;
  transform: translateY(16px);
}

.disc-text{
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  width: 310px;
}

.disc-text span{
  color: #A5C926;
}

.left-bd{
  display: flex;
}

.left-bd input{
  background: #F8F8F8;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px 15px;
  width: 376px;
  margin-right: 16px;
}

.left-bd button{
  background: #A5C926;
  border-radius: 24px;
  padding: 12px 47px;
  border: none;
}


.end-content{
  margin-top: 120px;
  padding-bottom: 121px;
}

.end-pic {
  text-align: center;
  margin-bottom: 76px;
}

.end-pic img{
  margin-right: 15px;
}

.end-content button{
  background: #A5C926;
  border-radius: 24px;
  border: none;
  margin: 0 auto;
  display: flex;
}

.end-content a{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 12px 28px;
  margin: 0 auto;
}

.footer{
  background-color: #A5C926;
}

.footer-bg{
  width: 1200px;
  margin: 0 auto;
}

.footer-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 15px;
}

.f-logo a{
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-nav a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 28px;
}

.end-footer{
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 34px 0 32px 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
}

.end-footer ul{
  display: flex;
}

.power {
  padding-right: 5px;
} 

.end-footer li{
  margin-right: 19px;
}

.end-footer li:last-child{
  margin-right: 0;
}

.mark{
  list-style-type: square;
}

.mark::marker{
  color: rgba(255, 255, 255, 0.5);
}